<!DOCTYPE html>
<html>
  <head>
    <title>BrainstormRails</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-body">
      <table class="main-layout-table">
        <tr>
          <%= yield %>
        </tr>
      </table>
    </div>

  </body>
</html>
